body {
  background-color: #e8f0f3;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding-bottom: 100px;  
}


.leaderboard {
  width: 95%;
  max-width: 1920px;
  width: 1920px;
  min-width: 320px;
  margin: 30px auto;
  background: #f3f9fb;
  border-radius: 15px;
  border: 2px solid #0077c8;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  color: #1e3a8a;
  margin-bottom: 15px;
  font-size: 28px;
}


.filter-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-buttons button {
  background: none;
  border: 2px solid #1e90ff;
  border-radius: 20px;
  padding: 5px 15px;
  color: #1e90ff;
  cursor: pointer;
  transition: 0.3s;
}

.filter-buttons button.active,
.filter-buttons button:hover {
  background-color: #1e90ff;
  color: white;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  color: #1e3a8a;
  border-bottom: 2px solid #1e90ff;
}

tr:nth-child(even) {
  background-color: #e8f0f3;
}

td:first-child {
  font-weight: bold;
  color: #1e3a8a;
}

td:last-child {
  text-align: right;
  color: #0077c8;
  font-weight: 600;
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #1e90ff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  color: white;
  font-size: 26px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item:hover {
  color: #aee3ff;
}


.center-btn {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e90ff;
  border: 4px solid #e8f0f3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-btn a {
  color: white;
  font-size: 32px;
  text-decoration: none;
}