* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,body {
    background-color: #e8f0f3;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #f3f9fb;
    border: 2px solid #0077c8;
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.map-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#map {
  width: 100%;
  height: 100%;
}

h1 {
    color: #1e3a8a;
    font-size: 20px;
    margin-bottom: 5px;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #1e90ff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  color: white;
  font-size: 26px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item:hover,
.nav-item.active {
  color: #aee3ff;
}

.center-btn {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e90ff;
  border: 4px solid #e8f0f3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-btn a {
  color: white;
  font-size: 32px;
  text-decoration: none;
}

.center-btn a:hover {
  color: #aee3ff;
}
.input-group {
  position: relative;
  margin-bottom: 25px;
  width: 30%;
  margin-left: 35%;
  margin-top: 50px;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  
  border: none;
  border-bottom: 2px solid #1e3a8a;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: #1e3a8a;
}

.input-group img {
  position: absolute;
  left: 5px;
  top: 8px;
  width: 20px;
  opacity: 0.7;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #6b7280;
  margin-right: 35%;
  margin-bottom: 20px;
  text-decoration: none;
  
}

.forgot-password:hover {
  text-decoration: underline;
}
.subtitle {
    color: #1e3a8a;
    font-size: 16px;
    margin-bottom: 20px;
}

.register-link {
  margin-top: 5px;
  font-size: 13px;
  color: #1e3a8a;
}

.register-link a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}


.robot {
    width: 140px;
   
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    
}
.recycling {
    position: relative;
    width: 92px !important;
    height: auto !important;
    top: -40px;
    
    right: 30px;
}

.buttons {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    max-width: 400px;
    width: 90%;
}

.btn {
  display: inline-block;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  width: 350px;
  text-decoration: none;
  transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #1c86ee;
    }
