@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Восстановление пароля";
}

<h2>Восстановление пароля</h2>

<form method="post" asp-action="ForgotPassword">

     <div class="container">
        <h1>Восстановление пароля</h1>

        <div class="input-group">
            <img src="~/Resources/mail.png" alt="Почта" />
            <input 
                type="email" 
                name="email" 
                placeholder="Введите электронную почту" 
                required />
        </div>

        <div class="buttons">
        <button class="btn" type="submit">Отправить новый пароль</button>
    </div>

    <div class="form-links">
        <a asp-action="Login" asp-controller="Auth" class="register-link">
            Обратно к авторизации!
        </a>
    </div>
    </div>
  
    



    <div style="color:red">
        @Html.ValidationSummary()
    </div>

    @if(ViewBag.Message != null)
    {
        <div style="color:green">@ViewBag.Message</div>
    }
</form>