@model LoginRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Авторизация";
}

<div class="container">
    <h1>Добро пожаловать</h1>
    <p class="subtitle">Чистый город</p>
   

    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()
        <div class="input-group">
            <img src="~/Resources/mail.png" alt="Почта" />
            <input type="email"
                   name="Email"
                   placeholder="Введите электронную почту"
                   required />
        </div>

        <div class="input-group">
            <img src="~/Resources/key.png" alt="Пароль" />
            <input type="password"
                   name="Password"
                   placeholder="Введите пароль"
                   required />
        </div>

        <div class="buttons">
            <button class="btn" type="submit">Войти</button>
            <a asp-controller="Auth" asp-action="Register" class="btn">Регистрация</a>
        </div>
        
    </form>
</div>