@{
    ViewData["Title"] = "Карта — Чистый город";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="map-container">
    <div id="map"></div>

    <div class="bottom-nav">
        <a asp-controller="Profile" asp-action="Index" class="nav-item">
            <i class='bx bx-user'></i>
        </a>

        <div class="center-btn">
            <a asp-controller="Map" asp-action="Index" class="nav-item active">
                <i class='bx bx-map'></i>
            </a>
        </div>

        <a asp-controller="Settings" asp-action="Index" class="nav-item">
            <i class='bx bx-cog'></i>
        </a>

        <a asp-controller="Favorites" asp-action="Index" class="nav-item">
            <i class='bx bx-star'></i>
        </a>
    </div>
</div>

@section Scripts {
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script>
        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map("map", {
                center: [51.7682, 55.0968],
                zoom: 13
            });

            // var placemark = new ymaps.Placemark(
            //     [51.7682, 55.0968],
            //     { balloonContent: 'Пункт приёма мусора' }
            // );

            

            map.events.add('dblclick', function(e){
                var coords = e.get('coords');
                var placemark = new ymaps.Placemark(coords,{
                    balloonContent: ''
                });
                map.geoObjects.add(placemark);

                saveMarkers(coords[0],coords[1])
            });

            loadMarkers(map);
        }

        function loadMarkers(map) {
            fetch('/Map/GetMarkers')
                .then(r => r.json())
                .then(markers => {
                    markers.forEach(m => {
                        let pm = new ymaps.Placemark([m.latitude, m.longitude],{
                            balloonContent: ''
                        });
                        map.geoObjects.add(pm);
                    });
                });
            
        }
        function saveMarkers(lat,lng){
            fetch('/Map/AddMarker',{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    latitude: lat,
                    longitude: lng
                })
            })
            .then(r => r.json())
            .then(d => console.log("Сохранено:", d))
            .catch(e => console.error(e));
        }
    </script>
}