@{
    ViewData["Title"] = "Карта — Чистый город";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="map-container">
    <div id="map"></div>

    <div class="bottom-nav">
        <a asp-controller="Profile" asp-action="Index" class="nav-item">
            <i class='bx bx-user'></i>
        </a>

        <div class="center-btn">
            <a asp-controller="Map" asp-action="Index" class="nav-item active">
                <i class='bx bx-map'></i>
            </a>
        </div>

        <a asp-controller="Settings" asp-action="Index" class="nav-item">
            <i class='bx bx-cog'></i>
        </a>

        <a asp-action="Index" asp-controller="LeaderBoard" class="nav-item">
            <i class='bx bx-star'></i>
        </a>
    </div>
</div>

@section Scripts {
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script>
       
        ymaps.ready(init);
        const isAdmin = @Json.Serialize(User.IsInRole("Admin"));
        
        
        function init() {
            
            var map = new ymaps.Map("map", {
                center: [51.7682, 55.0968],
                zoom: 13

            });
            
            map.events.add('dblclick', function(e){
                if (!isAdmin) return;

                var coords = e.get('coords');
                var placemark = new ymaps.Placemark(coords,{
                    balloonContent: ''
                });
                map.geoObjects.add(placemark);

                saveMarkers(coords[0],coords[1])
            });

            loadMarkers(map);

            // map.events.add("contextmenu", function(e){
            //     let placemark = e.get('target');
                
            //     if(!(placemark instanceof ymaps.Placemark))
            //     return;
              
            //     if(confirm("Удалить метку?")){

            //         deleteMarker(placemark.id, placemark);
                    
            //     }
            // });
            
        }

        function loadMarkers(map) {
            fetch('/Map/GetMarkers')
                .then(r => r.json())
                .then(markers => {
                    markers.forEach(m => {
                        let pm = new ymaps.Placemark([m.latitude, m.longitude],{
                            balloonContent: ''
                        });
                        pm.markerId = m.id;

                        if (isAdmin) {
                            pm.events.add("contextmenu", function () {
                                if (confirm("Удалить метку?")) {
                                    deleteMarker(pm.markerId, pm);
                                }
                            });
                        }
                        map.geoObjects.add(pm);
                        
                    });

                });
            
        }
        function saveMarkers(lat,lng){
            fetch('/Map/AddMarker',{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    latitude: lat,
                    longitude: lng
                })
            })
            .then(r => r.json())
            .then(d => console.log("Сохранено:", d))
            .catch(e => console.error(e));
        }
        function deleteMarker(id,placemark){
            fetch('/Map/DeleteMarker/' + id, {
                method: 'DELETE'
                })
                .then(r => r.json())
                .then(res => {
                    if(res.success){
                        placemark.getMap().geoObjects.remove(placemark);
                        console.log("Удаленно");
                    }
                })
                .catch(e => console.error(e));
            
        }
    </script>
}