<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>

    <header>
        <h1>Чистый город</h1>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        © 2025 Чистый город
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>